black==25.1.0
cffi==1.17.1
clarabel==0.11.1
click==8.2.1
contourpy>=1.3,<2.0
cvxpy==1.7.0
cycler
filelock
fonttools
fsspec
imageio
Jinja2
joblib
kiwisolver
lazy_loader
MarkupSafe
matplotlib>=3.7,<3.11
mpmath
mypy_extensions
networkx==3.4.2
numpy>=1.23,<2.3
opencv-python
osqp
packaging
pandas>=2.0,<2.4
pathspec
pillow
platformdirs
pycparser
pyparsing
python-dateutil
pytz
PyYAML
scikit-image
scipy>=1.10,<1.13
scs
setuptools
six
sympy
tifffile
tqdm
typing_extensions
tzdata
